@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
  background: rgb(174,238,234);
  background: linear-gradient(90deg, rgba(174,238,234,0.409868170901173) 0%, rgba(0,117,255,1) 100%);
  text-align: center;
  font-family: 'Bree Serif', serif;
  color:rgb(0, 0, 0);
}
.continer{
  border: 4px dotted #649EA4;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  padding: 18px;
  width: 50%;
  margin:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 4%;
}


#output-continer{
  visibility: hidden;
}

#submit{
  background-color: #343A40;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  
}

